<html>
<head>index</head>
<title> Cookie Authentication</title>
<body><form  action="/login" method = "POST">
    <label for="username">UserName:</label>
    <input type ="text" name="username" title="Username" id="username"/><br/>
    <label for="password" >Password:</label>
    <input type='password' name="password" title="Password" id="password"/><br/>
    <input type='submit' value="login"><br/>

</form>

</body>
</html>